html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0101f5;
    z-index: 9999;
}

#shield {
    width: 120px;
}

#percentage {
    font-size: 24px;
    margin-top: 10px;
}

/* Navbar */

.shield {
    width: 80px;
    height: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 10px;
}


.fa-bars {
font-size: 20px;
}

.navbar {
    padding: .5rem 1rem;
    background-color: #0101f5;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    margin-top: -45px;
}

.navbar-nav .nav-link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    font-family: "Manrope", sans-serif;
}
.joines {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0px 10px;
    border-radius: 40px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.joines:hover {
    transform: scale(1.1);
    background-color: #222;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.2);
}

.navbar-nav li::marker {
    content: none;
    display: none;
}

.navbar-toggler {
    display: none;
}

.navbar-brand {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

/* Whatsapp Button */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.whatsapp-button img {
    width: 100px;
    height: 100px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}


/* Home Section */

.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-content {
    position: relative;
    color: white;
    font-size: 2rem;
    padding: 20px;
    max-width: 90%;
}

/* Botón */
.home-content .btn {
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.home-content .btn:hover {
    background-color: #0056b3;
}

/* Nosotros */
.us-section {
    background-color: black;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.us-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea el contenido arriba */
    max-width: 1200px;
    width: 100%;
}

.us-text {
    width: 50%;
    color: white;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    justify-content: flex-start;
}

.us-text.visible {
    opacity: 1;
    transform: translateX(0);
    padding-right: 30px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 20px;
    margin-bottom: 15px;
}

.us-image {
    width: 50%;
}

.us-image img {
    width: 100%;
    max-height: 800px; /* Limita la altura de la imagen */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

 /* Alumnos */
.text-center {
    font-size: 32px;
}
 .alumnos-section {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    overflow: hidden; /* Evita barras de desplazamiento */
}

.swiper {
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: auto;
    margin-top: 20px;
}

.swiper-slide {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide img {
    width: 80%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.swiper-slide:hover {
    transform: scale(1.05);
}

.swiper-button-next, .swiper-button-prev {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    background: rgba(50, 63, 252, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}

.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background: white;
}

#imageModal {
    display: none;
}

#imageModal .modal-content {
    background-color: black;
    border: none;
}

#imageModal .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#imageModal img {
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
}

.btn-close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(50, 63, 252, 0.5);
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: background 0.3s, transform 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-nav:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%) scale(1.1);
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}


 /* Contacto */

 .contact-section {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px;
}

.container {
    max-width: 500px;
    width: 90%;
    background: #1e1e1e;
    padding: 30px;
    /* padding-left: 20px;
    padding-right: 43px;
    padding-bottom: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

/* Estilos para los inputs */

#contactForm {
    margin-right: 15px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid #555;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #aaa;
    font-size: 14px;
    transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #0101f5;
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:not(:placeholder-shown) + label {
    top: -12px;
    left: 8px;
    background: #1e1e1e;
    padding: 2px 5px;
    font-size: 12px;
    color: #5c5cff;
}

.textarea textarea {
    height: 100px;
    resize: none;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #0101f5;
}


/* Sumate */
#sumate {
    background-color: black;
    padding: 50px 0;
    text-align: center;
}

.joines-content h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#sumate img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer */

.footer {
    background-color: #0101f5;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-text {
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #25D366;
}

.social-icons a:first-child:hover {
    color: #E4405F;
}


/* Responsive */

@media (max-width: 768px) {

.hamburger {
    display: block;
}

.collapse.navbar-collapse {
    display: none;
}

.collapse.navbar-collapse.active {
    display: block;
    background-color: #0101f5;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 40px 0px;
    z-index: 3999;
}

.navbar-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.navbar-nav .nav-item {
    margin-top: 15px;
}

.home-content {
    font-size: 1.5rem;
    max-width: 90%;
}

.home-content .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
}

.us-container {
    flex-direction: column;
    align-items: center;
}

.us-text, .us-image {
    width: 100%;
    text-align: center;
}

.us-text.visible {
    padding-right: 0; /* Elimina el padding derecho en móvil */
}

.paragraph {
    text-align: center; /* Centra específicamente los párrafos */
}

.container {
    width: auto;
}

}
